body{
    background-image: url("images/musicbackground.jpg");
    background-size: 100% 100%;
}
 
header{
    border-radius: 4px;
    background: rgba(0,0,0,0.5);
    padding: 0;
    color: white;
    clear: left;
    text-align: center;
}

footer {
    background: rgba(0,0,0,0.5);
    bottom:0;
    color: white;
    text-align: center;
    padding: 20;
}

nav {
    font-size: 35px;
    color: white;
    text-align: center;
    margin: 0;
    padding: 1;
}

article {
    font-family: "Trebuchet MS", Arial, sans-serif;
    font-size: 25px;
    color: white;
    margin: 0;
    border-top: 1px solid gray;
    padding: 1em;
    overflow: hidden;
}

message{
    font-family: "Trebuchet MS", Arial, sans-serif;
}

h2{
    color: #8aa5d1;
    font-size: 40px;
    font-family: Copperplate, "Copperplate Gothic Light", fantasy;
}

form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* button css taken from w3schools */
button {   
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.warning {
  color: red;
}


ul {list-style-type: none;}
body {font-family: Verdana, sans-serif;}

/* calendar css taken from w3schools */
/* Month header */
.month {
  padding: 70px 25px;
  width: 100%;
  background: #1abc9c;
  text-align: center;
}

/* Month list */
.month ul {
  margin: 0;
  padding: 0;
}

.month ul li {
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* Previous button inside month header */
.month .prev {
  float: left;
  padding-top: 10px;
}

/* Next button */
.month .next {
  float: right;
  padding-top: 10px;
}

/* Weekdays (Mon-Sun) */
.weekdays {
  margin: 0;
  padding: 10px 0;
  background-color:#ddd;
}

.weekdays li {
  display: inline-block;
  width: 13%;
  color: #666;
  text-align: center;
}

/* Days (1-31) */
.days {
  padding: 10px 0;
  background: #eee;
  margin: 0;
}

.days li {
  list-style-type: none;
  display: inline-block;
  width: 13%;
  text-align: center;
  margin-bottom: 5px;
  font-size:12px;
  color: #777;
}

/* Highlight the "current" day */
.days li .active {
  padding: 5px;
  background: #1abc9c;
  color: white !important
}




